NOTARY_SIGNER_DEFAULTALIAS=$alias
MIGRATIONS_PATH=migrations/signer/postgresql
DB_URL=postgres://{{ notary_singer_db_user }}:{{ notary_singer_db_password }}@{{ vip }}:5432/notarysigner?sslmode=disable