version: '3'
services:
  mariadb:
    # image: mariadb/server:10.3
    image: vmware/harbor-db:v1.5.2
    container_name: mariadb
    ports:
      - 3306:3306
    restart: always
    volumes:
      - {{ db_dir }}/config/my.cnf:/etc/mysql/my.cnf:z
      - {{ db_dir }}/config/db_init.sql:/opt/db_init.sql:z
      - {{ db_dir }}/data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${HARBOR_DB_ROOT_PASSWORD}
      MYSQL_USER: ${HARBOR_DB_USER}
      MYSQL_PASSWORD: ${HARBOR_DB_PASSWORD}
      MYSQL_DATABASE: {{ harbor_db }}
